@import "tailwindcss";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

@layer components {
  .btn-primary {
    @apply bg-[#EF233C] hover:bg-[#D90429] text-white font-bold py-3 px-8 rounded-full transition-colors duration-300;
  }

  .btn-secondary {
    @apply border-2 border-[#2B2D42] hover:bg-[#2B2D42] hover:text-white text-[#2B2D42] font-bold py-3 px-8 rounded-full transition-colors duration-300;
  }
}
